/* ! 
    !┌─────────────────────────────────────────────────────────────────────────┐
    !│ cycloneReset                                                            │
    !└─────────────────────────────────────────────────────────────────────────┘
! */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    box-sizing: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

em {
    font-style: italic;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ! 
    !┌─────────────────────────────────────────────────────────────────────────┐
    !│ UTILITY                                                                 │
    !└─────────────────────────────────────────────────────────────────────────┘
! */

.button {
    border: 5px solid #BBA987;
    border-radius: 21px;
    color: #463424;
    padding: 0px 10px 3px 10px;
}

/* ! 
    !┌─────────────────────────────────────────────────────────────────────────┐
    !│ STYLES                                                                  │
    !└─────────────────────────────────────────────────────────────────────────┘
! */

@font-face {
    font-family: "goshaSansBold";
    src: url('../assets/fonts/GoshaSansBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "goshaSansRegular";
    src: url('../assets/fonts/GoshaSansRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* * font-family * */
    --ff-body: 'goshaSansRegular', Courier, monospace; 
    --ff-headers: 'goshaSansBold', Courier, monospace; 

    --clr-background-primary: #fcfcfc;
    --clr-text-primary: hsl(195,25%,28%);
}

::selection {
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-clip: initial;
    background-color: var(--clr-text-primary);
    color: var(--clr-background-primary);
}

:focus-visible {
    outline: solid 3px #e65334;
}

body {
    background:  var(--clr-background-primary);
    color: var(--clr-text-primary);
    font-family: var(--ff-body);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    padding-top: 33px;
    padding-inline: 33px;
}

#header-logo {
    width: clamp(200px, 33vw, 250px);
}

main {
    display: grid;
    padding-inline: 10vw;
}

#main-greeting {
    align-items: end;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 50px;
}

#main-greeting #main-header-left {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.ico {
    display: inline-block;
    width: 20px; 
}

.avatar-image {
    width: 100px;
}

main h1 {
    font-family: 'GoshaSansBold';
    font-size: 1.313rem;
}

ol {
    counter-reset: bill;
    list-style: none;
}

li {
    background: var(--clr-background-primary);
    border: 2px solid var(--clr-text-primary);
    border-radius: 33px;
    box-shadow: inset 12px -12px 24px #a6a497, inset -12px 12px 24px #ffffff;
    counter-increment: bill;
    margin-inline: auto;
    margin-bottom: 2.5rem;
    padding: 2rem;
    position: relative;
    width: min(100%, 888px);
}

li::before {
    background-color: var(--clr-text-primary);
    border-radius: 50%;
    color: var(--clr-background-primary);
    display: grid;
    place-items: center;
    content: counter(bill);
    position: absolute;
    height: 40px;
    top: -11px;
    left: -11px;
    width: 40px;
}

li::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    height: 40px;
    top: -11px;
    left: -11px;
    border: 3px solid #78c8a8;
    width: 40px;
    transform: scale(1.2);
    transition: transform 380ms ease-in-out;
    z-index: -1;
}

li:hover::after {
    transform: scale(1.5);
}

hr {
    box-shadow: 0 0px 8px black;
    margin-bottom: 2.5rem;
    margin-inline: auto;
    width: min(100%, 1000px);
}

.bill-info > div {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
}

.modal-open-button {
    border: 4px solid#355059;
    color:#355059;
    display: flex;
    margin-inline: auto;
    width: max-content;
}

.modal-main-content-wrapper {
    display: grid;
    gap: 33px;
    grid-template-areas: "fileDrop" "uploadFeedback";
}

.question-mark-ico {
    display: inline-block;
    width: 21px;
    transform: translate(5px, 4px);
}

.more-info-button {
    color:#3a8fd4;
}

.pay-here-ico {
    display: inline-block;
    width: 21px;
    transform: translate(1px, 5.5px);
}

.pay-here-button {
    color: green;
}

.amount-due-full .amount-due-text {
    display: none;
    font-weight: bold;
    font-size: 1.125rem;
}

.amount-due-full .amount-due-value {
    color: #e65030;
    font-size: 1.313rem;
    font-family: sans-serif;
}

.amount-due-full .zero-balance {
    color: green;
}

.full-help-modal { 
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    min-height: 100vh;
    inset: 0;
    width: 100vw;
    place-items: center;
}

.full-help-modal.open {
    display: grid;
}

.modal-close-button-css {
    background-color: #355059;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0 0 10px white;
    color: #fffce8;
    font-size: 1.313rem;
    height: 60px;
    position: absolute;
    right: 5%;
    top: -75px;
    width: 60px;
    z-index: 1;
}

.table-wrapper {
    position: relative;
}

.table {
    background-color: ghostwhite;
    border-radius: 33px;
    border-spacing: 0;
    border-top-right-radius: 11px;
    border: 5px solid #355059;
    box-shadow: 9px 9px 13px #5c5c5c, inset 0 0 8px black;
    padding: 10px;
}

.table td,
.table th {
    border-bottom: 1px solid #355059;
    padding: 3px;
    text-align: center;
}

.table tr:last-child>td {
    border-bottom: none;
}

.table caption {
    background-color: #355059;
    border-radius: 33px;
    box-shadow: inset 0 0 10px white;
    color: #fffce8;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 10px 24px;
    left: 5%;
    position: absolute;
    top: -75px;
}

#upload-modal {
    background-color: ghostwhite;
    border: none;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 55px;
    border-top-left-radius: 55px;
    border-top-right-radius: 11px;
    box-shadow: 9px 9px 13px #BBA987, inset 0 0 8px black;
    margin: auto;
    padding-block: 33px;    
    width: min(77vw, 700px);
} 

#upload-modal::backdrop {
    background: black;
    opacity: 0.3;
}

#upload-modal .modal-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-inline: 21px;
}

#upload-modal .modal-heading .modal-header {
    color: var(--clr-text-primary);
    font-family: "goshaSansBold";
    font-size: 1.625rem;
}

#upload-modal .modal-heading .modal-close-button {
    color: var(--clr-text-primary);
    cursor: pointer;
    font-size: 2.125rem;
}

#upload-modal .file-drop-wrapper {
    display: grid;
    grid-area: fileDrop;
    place-items: center;
}

#upload-modal .file-drop-area {
    background-color: #fff7ea;
    border-radius: 22px;
    border: 5px dashed #9c917c;
    box-shadow: inset 0 0 11px #BBA987;
    display: grid;
    font-size: 0.8313rem;
    height: 250px;
    place-items: center;
    position: relative;
    width: clamp(250px, 33vw, 310px);
}

#upload-modal .file-drop-area #fileElem {
    display: none;
}

#upload-modal .input-click-area {
    display: grid;
    height: 100%;
    place-items: center;
}

#upload-modal .input-click-area :is(.opaque) {
    transition: 380ms ease-in-out;
}

#upload-modal .input-click-area :not(.opaque) {
    transition: 380ms ease-in-out;
}

#upload-modal .input-click-area:hover :is(.opaque) {
    transform: scale(1.2);
}

#upload-modal .input-click-area:hover :not(.opaque) {
    opacity: 0;
    transform: scale(0.8);
}

#upload-modal .input-click-area:hover .upload-icon {
    transform: translateY(40px) rotate(360deg);
}

#upload-modal .input-click-area .upload-icon {
    align-items: end;
    cursor: pointer;
    padding-top: 5px;
    margin-bottom: 8px;
    width: 88px;
}

#upload-modal .input-click-area .upload-icon:hover,
#upload-modal .input-click-area .button:hover {
    opacity: 0.55;
}

#upload-modal .drop-files-label {
    font-size: 1rem;
    line-height: 0.2;
    margin-bottom: 8px;
    margin-inline: auto;
    width: max-content;
}

#upload-modal .label-sub-text {
    font-size: 0.625rem;
}

#upload-modal .input-click-area .button {
    align-self: start;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
}

#upload-modal .file-form {
    color: #463424;
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
    transition: opacity 380ms ease-in-out;
}

#upload-modal .upload-feedback-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: uploadFeedback;
    justify-content: flex-start;
}

#upload-modal .file-feedback-progress {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upload-modal .progress-label {
    font-family: 'goshaSansRegular', Courier, monospace;
    font-weight: normal;
}

#upload-modal progress {
    -webkit-appearance: none;
    appearance: none;
    height: 11px;
    width: clamp(175px, 22vw, 250px);
}

#upload-modal progress::-webkit-progress-bar,
#upload-modal progress::-webkit-progress-value {
    border-radius: 33px;
}

#upload-modal .file-feedback-progress:first-of-type progress::-webkit-progress-value {
    border-radius: 33px;
    background: #e65030;
}

#upload-modal .file-feedback-progress:nth-of-type(2) progress::-webkit-progress-value {
    background: #efbf7b;
}

#upload-modal .file-feedback-progress:nth-of-type(3) progress::-webkit-progress-value {
    background: #78c8a8;
}

#upload-modal .file-feedback-progress:first-of-type progress::-moz-progress-bar { /* Firefox Pseudo Class */
    background: #e65030;
}

#upload-modal .file-feedback-progress:nth-of-type(2) progress::-moz-progress-bar { /* Firefox Pseudo Class */
    background: #efbf7b;
}

#upload-modal .file-feedback-progress:nth-of-type(3) progress::-moz-progress-bar { /* Firefox Pseudo Class */
    background: #78c8a8;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer > img {
    margin-bottom: 12px;
    margin-inline: auto;
    width: 125px;
}

@media only screen and (min-width:480px) {
    .table {
        border-radius: 88px;
        border-top-right-radius: 11px;
        padding: 24px 36px;
    }

    .table td,
    .table th {
        padding: 3px 3px;
    }

    .modal-close-button-css,
    .table caption {
        top: -35%;
    }
}

@media only screen and (min-width: 768px) {
    #main-greeting {
    align-items: center;
    }

    #main-greeting #main-header-left {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    #upload-modal {
        padding: 33px 50px 50px 50px;
    }

    #upload-modal .label-sub-text {
        font-size: 0.688rem;
    }

    .amount-due-full .amount-due-text {
        display: inline;
    }

    .modal-main-content-wrapper {
        grid-template-areas: "fileDrop uploadFeedback";
        grid-template-columns: 1fr 1fr;
    }

    .table td,
    .table th {
        padding: 10px;
    }
}